{% extends 'layout.html' %}

{% block containt %}
<div class="row">
                    <!-- BLOG POSTS -->
                    <div class="col-12 col-lg-7">
                        <div class="eskimo-masonry-grid">
                            <div class="eskimo-one-column" data-columns>
                                {% for item in articles %}
                                    <div class="card-masonry">
                                    <div class="card">
                                        <a href="/{{ user_info.blog__blog_id }}/{{ item.article_id }}">
<!--                                            <img class="card-vertical-img" src="{{ base_dir }}/{{ item.article_picture }}" alt="5 Ways to a Healthy Lifestyle" />-->
                                            <img class="card-vertical-img" src="{{ item.article_pic_cdn}}" alt="5 Ways to a Healthy Lifestyle" />
                                        </a>
                                        <div class="card-border">
                                            <div class="card-body">
                                                <div class="card-category">
                                                    <span><a href="/{{ user_info.blog__blog_id }}/category/{{ item.article_category_id }}">{{ item.get_article_type_id_display }}</a></span>
                                                </div>
                                                <h3 class="card-title">
                                                    <a href="/{{ user_info.blog__blog_id }}/{{ item.article_id }}">{{ item.article_title }}</a>
                                                </h3>
                                                <p>{{ item.article_summary }}</p>
                                            </div>
                                            <div class="card-footer">
                                                <div class="eskimo-author-meta">
                                                    By <a class="author-meta" href="">{{ item.article_blog.blog_user.userinfo_name }}</a>
                                                </div>
                                                <div class="eskimo-date-meta">
                                                    <a href="/{{ user_info.blog__blog_id }}/{{ item.article_id }}">{{ item.article_create_time }}</a>
                                                </div>
                                                <div class="eskimo-reading-meta"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- VIEW ALL BUTTON -->
                        <div class="eskimo-view-more mb-5">
                            <a class="btn btn-default" href="/{{ user_info.userinfo_id }}/blog/">VIEW ALL</a>
                        </div>
                    </div>
                    <!-- SIDEBAR -->
                    <div class="col-12 col-lg-5">
                        <!-- AUTHOR BOX -->
                        <div class="eskimo-author-box eskimo-add-border eskimo-widget">
                            <div class="eskimo-author-img">
{#                                <img src="../static/uploads/2018/05/img.jpg" alt="JOHN DOE" />#}
                                <img src="{{ base_dir }}/{{ user_info.userinfo_avatar }}" alt="{{ user_info.name }}">
                            </div>
                            <h3><span>{{ user_info.userinfo_nickname }}</span></h3>
                              <p>{{ user_info.userinfo_speciality }}</p>
                              <p>{{ user_info.userinfo_introdution }}</p>
{#                            <p class="eskimo-author-subtitle">WEB DESIGNER &amp; DEVELOPER</p>#}
{#                            <p class="eskimo-author-description">I'm a Web Developer and Designer with a strong passion for UX/UI design. I have experience building websites, web applications, and brand assets. Contact me if you have any questions!</p>#}
                            <div class="eskimo-author-box-btn">
                                <a class="btn btn-default" href="/about/">CONTACT ME</a>
                            </div>
                        </div>
                        <!-- CATEGORIES -->
                        <div class="eskimo-categories eskimo-widget">
                            <h5 class="eskimo-title-with-border"><span>Categories</span></h5>
                            <ul>
                            {% for item in categorys %}
                                <li>
                                    <a href="/{{ user_info.blog__blog_id }}/category/{{ item.category_id }}" title="">{{ item.category_title }}</a><span class="badge badge-pill badge-default">{{ item.c }}</span>
    {#                                <span class="badge badge-pill badge-default">4</span>#}
                                </li>
                            {% endfor %}
{#                                <li>#}
{#                                    <a href="category.html" title="The best restaurants, cafes, bars and shops in town.">Food &amp; Drink</a> <span class="badge badge-pill badge-default">5</span>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <a href="category.html" title="An up-to-date, personal urban guide.">Lifestyle</a> <span class="badge badge-pill badge-default">5</span>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <a href="category.html" title="Latest technology news and updates.">Technology</a> <span class="badge badge-pill badge-default">4</span>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <a href="category.html" title="Travel advice, information and inspiration.">Travel</a> <span class="badge badge-pill badge-default">5</span>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <a href="category.html" title="The latest news about movies and TV shows.">TV &amp; Movies</a> <span class="badge badge-pill badge-default">4</span>#}
{#                                </li>#}
                            </ul>
                        </div>
                        <!-- POPULAR POSTS -->
{#                        <div class="eskimo-post-list-wrapper eskimo-widget">#}
{#                            <h5 class="eskimo-title-with-border"><span>Popular Posts</span></h5>#}
{#                            <!-- POST 1 -->#}
{#                            <div class="eskimo-post-list">#}
{#                                <div class="eskimo-post-list-left">#}
{#                                    <a href="single-post.html">#}
{#                                        <img src="../static/uploads/2018/05/blog19-150x150.jpg" alt="5 Ways to a Healthy Lifestyle" />#}
{#                                    </a>#}
{#                                </div>#}
{#                                <div class="eskimo-post-list-right">#}
{#                                    <p class="eskimo-post-list-title">#}
{#                                        <a href="single-post.html">5 Ways to a Healthy Lifestyle</a>#}
{#                                    </p>#}
{#                                    <div class="eskimo-post-list-info">#}
{#                                        <i class="fa fa-clock-o"></i><a href="single-post.html">May 25, 2018</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <!-- POST 2 -->#}
{#                            <div class="eskimo-post-list">#}
{#                                <div class="eskimo-post-list-left">#}
{#                                    <a href="single-post.html">#}
{#                                        <img src="../static/uploads/2018/05/blog17-150x150.jpg" alt="The Best Cameras For Beginners" />#}
{#                                    </a>#}
{#                                </div>#}
{#                                <div class="eskimo-post-list-right">#}
{#                                    <p class="eskimo-post-list-title">#}
{#                                        <a href="single-post.html">The Best Cameras For Beginners</a>#}
{#                                    </p>#}
{#                                    <div class="eskimo-post-list-info">#}
{#                                        <i class="fa fa-clock-o"></i><a href="single-post.html">May 20, 2018</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <!-- POST 3 -->#}
{#                            <div class="eskimo-post-list">#}
{#                                <div class="eskimo-post-list-left">#}
{#                                    <a href="single-post.html">#}
{#                                        <img src="../static/uploads/2018/05/blog13-150x150.jpg" alt="Can Technology Make You Happy?" />#}
{#                                    </a>#}
{#                                </div>#}
{#                                <div class="eskimo-post-list-right">#}
{#                                    <p class="eskimo-post-list-title">#}
{#                                        <a href="single-post.html">Can Technology Make You Happy?</a>#}
{#                                    </p>#}
{#                                    <div class="eskimo-post-list-info">#}
{#                                        <i class="fa fa-clock-o"></i><a href="single-post.html">May 10, 2018</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <!-- POST 4 -->#}
{#                            <div class="eskimo-post-list">#}
{#                                <div class="eskimo-post-list-left">#}
{#                                    <a href="single-post.html">#}
{#                                        <img src="../static/uploads/2018/05/blog14-150x150.jpg" alt="5 Best Coffee Shops In Paris" />#}
{#                                    </a>#}
{#                                </div>#}
{#                                <div class="eskimo-post-list-right">#}
{#                                    <p class="eskimo-post-list-title">#}
{#                                        <a href="single-post.html">5 Best Coffee Shops In Paris</a>#}
{#                                    </p>#}
{#                                    <div class="eskimo-post-list-info">#}
{#                                        <i class="fa fa-clock-o"></i><a href="single-post.html">May 12, 2018</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <!-- POST 5 -->#}
{#                            <div class="eskimo-post-list">#}
{#                                <div class="eskimo-post-list-left">#}
{#                                    <a href="single-post.html">#}
{#                                        <img src="../static/uploads/2018/05/blog8-150x150.jpg" alt="Eyes Wide Shut Is A Classic" />#}
{#                                    </a>#}
{#                                </div>#}
{#                                <div class="eskimo-post-list-right">#}
{#                                    <p class="eskimo-post-list-title">#}
{#                                        <a href="single-post.html">Eyes Wide Shut Is A Classic</a>#}
{#                                    </p>#}
{#                                    <div class="eskimo-post-list-info">#}
{#                                        <i class="fa fa-clock-o"></i><a href="single-post.html">May 19, 2018</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <!-- POST 6 -->#}
{#                            <div class="eskimo-post-list">#}
{#                                <div class="eskimo-post-list-left">#}
{#                                    <a href="single-post.html">#}
{#                                        <img src="../static/uploads/2018/05/blog6-150x150.jpg" alt="Headphones For Music Lovers" />#}
{#                                    </a>#}
{#                                </div>#}
{#                                <div class="eskimo-post-list-right">#}
{#                                    <p class="eskimo-post-list-title">#}
{#                                        <a href="single-post.html">Headphones For Music Lovers</a>#}
{#                                    </p>#}
{#                                    <div class="eskimo-post-list-info">#}
{#                                        <i class="fa fa-clock-o"></i><a href="single-post.html">May 19, 2018</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <!-- POST 7 -->#}
{#                            <div class="eskimo-post-list">#}
{#                                <div class="eskimo-post-list-left">#}
{#                                    <a href="single-post.html">#}
{#                                        <img src="../static/uploads/2018/05/blog4-1-150x150.jpg" alt="Ketchup Flavored Ice Cream!" />#}
{#                                    </a>#}
{#                                </div>#}
{#                                <div class="eskimo-post-list-right">#}
{#                                    <p class="eskimo-post-list-title">#}
{#                                        <a href="single-post.html">Ketchup Flavored Ice Cream!</a>#}
{#                                    </p>#}
{#                                    <div class="eskimo-post-list-info">#}
{#                                        <i class="fa fa-clock-o"></i><a href="single-post.html">May 28, 2018</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <!-- POST 8 -->#}
{#                            <div class="eskimo-post-list">#}
{#                                <div class="eskimo-post-list-left">#}
{#                                    <a href="single-post.html">#}
{#                                        <img src="../static/uploads/2018/05/blog2-150x150.jpg" alt="The Best Tea Houses in Japan" />#}
{#                                    </a>#}
{#                                </div>#}
{#                                <div class="eskimo-post-list-right">#}
{#                                    <p class="eskimo-post-list-title">#}
{#                                        <a href="single-post.html">The Best Tea Houses in Japan</a>#}
{#                                    </p>#}
{#                                    <div class="eskimo-post-list-info">#}
{#                                        <i class="fa fa-clock-o"></i><a href="single-post.html">May 19, 2018</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <!-- POST 9 -->#}
{#                            <div class="eskimo-post-list">#}
{#                                <div class="eskimo-post-list-left">#}
{#                                    <a href="single-post.html">#}
{#                                        <img src="../static/uploads/2018/05/blog16-150x150.jpg" alt="Why India's cinemas are changing" />#}
{#                                    </a>#}
{#                                </div>#}
{#                                <div class="eskimo-post-list-right">#}
{#                                    <p class="eskimo-post-list-title">#}
{#                                        <a href="single-post.html">Why India's cinemas are changing</a>#}
{#                                    </p>#}
{#                                    <div class="eskimo-post-list-info">#}
{#                                        <i class="fa fa-clock-o"></i><a href="single-post.html">May 17, 2018</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <!-- POST 10 -->#}
{#                            <div class="eskimo-post-list">#}
{#                                <div class="eskimo-post-list-left">#}
{#                                    <a href="single-post.html">#}
{#                                        <img src="../static/uploads/2018/05/blog15-150x150.jpg" alt="How To Design A Minimalist Garden" />#}
{#                                    </a>#}
{#                                </div>#}
{#                                <div class="eskimo-post-list-right">#}
{#                                    <p class="eskimo-post-list-title">#}
{#                                        <a href="single-post.html">How To Design A Minimalist Garden</a>#}
{#                                    </p>#}
{#                                    <div class="eskimo-post-list-info">#}
{#                                        <i class="fa fa-clock-o"></i><a href="single-post.html">May 15, 2018</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
                        <!-- BANNER -->
{#                        <div class="eskimo-widget">#}
{#                            <a href="http://www.bootstrapmb.com/portfolio">#}
{#                                <img src="../static/uploads/2018/05/banner.png" alt="banner" class="img-fluid mx-auto d-block" />#}
{#                            </a>#}
{#                        </div>#}
                        <!-- TAGS -->
                        <div class="eskimo-widget">
                            <h5 class="eskimo-title-with-border"><span>Tags</span></h5>
                            <div class="eskimo-tag-cloud">

                                    {% for item in tags %}
                                        <a href="/{{ user_info.blog__blog_id }}/tag/{{ item.tag }}">{{ item.tag__tag_title }}<span>{{ item.c }}</span></a>
                                    {% endfor %}
{#                                <a href="category.html">aute<span>7</span></a>#}
{#                                <a href="category.html">enim<span>7</span></a>#}
{#                                <a href="category.html">commodo<span>7</span></a>#}
{#                                <a href="category.html">voluptatibus<span>7</span></a>#}
{#                                <a href="category.html">culpa<span>7</span></a>#}
{#                                <a href="category.html">offendit<span>7</span></a>#}
{#                                <a href="category.html">magna<span>7</span></a>#}
{#                                <a href="category.html">quorum<span>7</span></a>#}
{#                                <a href="category.html">mandaremus<span>7</span></a>#}
{#                                <a href="category.html">ingeniis<span>7</span></a>#}
{#                                <a href="category.html">tempor<span>7</span></a>#}
{#                                <a href="category.html">summis<span>7</span></a>#}
{#                                <a href="category.html">consequat<span>6</span></a>#}
{#                                <a href="category.html">iudicem<span>6</span></a>#}
{#                                <a href="category.html">expetendis<span>6</span></a>#}
{#                                <a href="category.html">deserunt<span>6</span></a>#}
                            </div>
                        </div>
                        <!-- Time Sort -->
                        <div class="eskimo-widget">
                            <h5 class="eskimo-title-with-border"><span>Times</span></h5>
                            <div class="eskimo-tag-cloud">
                                    {% for item in times %}
                                        <a href="/{{ user_info.blog__blog_id }}/time/{{ item.c }}">{{ item.c }}<span>{{ item.ct }}</span></a>
                                    {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}

{% block js %}
<script>
<!--    $(function(){-->
<!--            console.log($("#eskimo-site-wrapper"));-->
<!--            $("img").lazyload({-->
<!--             container: $("#eskimo-site-wrapper"),-->
<!--             effect: "show",-->
<!--             event: "scroll",-->
<!--             placeholder:"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"-->
<!--             })-->
<!--    });-->
</script>
{% endblock %}